body{
    overflow-x:hidden,
}
.heading{
    margin-top: 100px;
    font-size: 40px;
    margin-bottom: 0;
}
.bhead{
    font-size: 25px;
    font-weight: bolder;
}
.bheadgroup{
    padding-left: 300px;
}
.bsubhead{
    font-size: 20px;
}
.bheadsubgroup{
    padding-left: 350px;
}

@media only screen and (max-width: 984px) {
    .bheadgroup {
        padding-left: 100px;;
    }
    .bheadsubgroup{
        padding-left: 150px;
    }
}

@media only screen and (max-width: 704px) {
    .bheadgroup {
        padding-left: 50px;;
    }
    .bheadsubgroup{
        padding-left: 100px;
    }
}
.mhead{
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 0;
}


@media only screen and (max-width: 450px) {
    .bheadgroup {
        padding-left: 10px;;
    }
    .bheadsubgroup{
        padding-left: 20px;
    }
    .heading{
        margin-top: 70px;
    }
}